@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400&display=swap');

html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #D9CCC1;
}

.Cabeçalho {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  font-size: 26px;
  text-shadow: 2px 2px #D9CCC1;
  text-align: center;
  background-color: #FD9637;
  margin: 20px;
  border: 3px solid #8CA665;
  border-radius: 5px;
  padding: 20px;
}

.Menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 20px;
  text-align: center;
}

.Menu-01 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
  margin: 20px;
  text-align: center;
}

.Menu-1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  color: black;
  font-size: 26px;
  text-decoration: none;
  letter-spacing: 1px;
  text-shadow: 1px 1px #262523;
  background-color: #A58966;
  padding: 5px;
  border-radius: 7px;
  border: 3px solid #262523;
  align-self: center;
}

.Main-01 {
  margin: 20px;
  padding: 180px 180px;
  background-image: url("Img/Foto-PI.jpg");
  background-size: 100% 100%;
  border-radius: 7px;
}

.Main-02 {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 20px;
  grid-gap: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  text-align: justify;
}

.Main-02-1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 20px;
  grid-gap: 40px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 28px;
  text-align: justify;
}

.Main-03 {
  align-self: center;
}

img {
  max-width: 100%;
  border-radius: 7px;
}

footer {
  margin: 20px;
  padding: 15px;
  border-radius: 7px;
  background-color: #A58966;
  font-family: 'Roboto Condensed', sans-serif;
  letter-spacing: 1px;
  font-size: 26px;
  text-align: center;
}
